.jb {
  background: #ffc014;
  text-align: center;
}

h2 {
  padding-bottom: 1.5rem;
}

main {
  margin-top: -2rem;
  background: #111;
  color: #ccc;
  padding: 1rem;
}

.header_content {
  text-align: center;
  font-weight: 800;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #72570c;
}

.username {
  font-size: 1.2rem;
}

.welcome {
  text-align: center;
}

.error {
  color: #eb3f3f;
  font-size: smaller;
}
